
$logo: url(~assets/images/project/logo.svg);

$login-image-1-webp: url(~assets/images/project/login-image-1-1600-tiny.webp);
$login-image-1-jpg: url(~assets/images/project/login-image-1-1600-tiny.jpg);
$login-image-2-webp: url(~assets/images/project/login-image-2-1600-tiny.webp);
$login-image-2-jpg: url(~assets/images/project/login-image-2-1600-tiny.jpg);

$google-logo: url(~assets/images/format/icons/google-logo.svg);
$facebook-logo: url(~assets/images/format/icons/facebook-logo.svg);

// $img1: "~assets/images/project/indoor-dining-2.jpg";
