// Font Weight
.fw-300 {
    font-weight: 300;
}

.fw-300i {
    font-weight: 300;
    font-style: italic;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

@mixin fw-300() {
    font-weight: 300;
}

@mixin fw-300i() {
    font-weight: 300;
    font-style: italic;
}

@mixin fw-400() {
    font-weight: 400;
}

@mixin fw-500() {
    font-weight: 500;
}

@mixin fw-600() {
    font-weight: 600;
}

@mixin fw-700() {
    font-weight: 700;
}


// Font Size
.fs-1 {
    font-size: 1rem;
}

.fs-2 {
    font-size: 1.25rem;
}

.fs-3 {
    font-size: 1.5rem;
}

.fs-4 {
    font-size: 2rem;
}

.fs-5 {
    font-size: 2.5rem;
}

.fs-6 {
    font-size: 3rem;
}

.fs-7 {
    font-size: 4rem;
}




