@import "~bulma/sass/utilities/_all";

//? BEGIN VARIABLES

$google: #4285f4;
$facebook: #1977f3;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "google": ($google, $white),
  "facebook": ($facebook, $white)
);

//? END VARIABLES

//? BEGIN CLASSES

.card {
  border-radius: 0.2rem;
}

//? END CLASSES

//? BEGIN FIXES

//? END FIXES

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
