@import "~bulma/sass/utilities/_all";

//? BEGIN VARIABLES

$google: #4285F4;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "google": ($google, $white)
);

//? END VARIABLES

//? BEGIN CLASSES

.card {
    border-radius: .2rem;
}

//? END CLASSES

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";