
.no-click {
    pointer-events: none !important;
    cursor: default;
}

.hide {
    color: #fff0 !important;
    opacity: 0 !important;
}

// style change during html input elements' readonly state
input:read-only {
    background-color: material-color('blue-grey', '50');
    color: material-color('blue-grey', '400');
}