// FOR LARGE WIDTH BUTTONS. SIMPLY ADD `.full-width-button` class to component.
.vs-button-relief.full-width-button {
    width: 100%;
    max-width: 200px;
}


// MINI CHECKBOX ADDITION. SIMPLY ADD `.check-mini` class to component. 
.check-mini .vs-checkbox {
    width: 1rem;
    height: 1rem;
}

.check-mini .vs-icon {
    font-size: .8rem;
}


// PROGRESS BAR BACKGROUND TO TRANSPARENT
.vs-progress-primary {
    background: #fff0 !important;
}


// GOOGLE SIGN-IN BUTTON AS VUESAX BUTTON
.google-signin-btn {
    color: material-color('blue-grey', '600');
}
  
.google-signin-btn .google-logo {
    width: calc(1rem + 6px);
    height: calc(1rem + 6px);
    margin: 0 .666rem 0 0;
    background-image: $google-logo;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 3px solid transparent;
}
  
.google-signin-btn.isActive .google-logo {
    background-color: $white;
    border: 3px solid $white;
}

.google-signin-btn .vs-button-text {
    display: flex !important;
    align-items: center;
    width: max-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

