// FOR LARGE WIDTH BUTTONS.
.full-width-button {
    width: 100%;
    max-width: 200px;
}

// FOR MEDIUM WIDTH BUTTONS.
.med-width-button {
    width: 50%;
    max-width: 6rem;
}

// FOR REGULAR WIDTH BUTTONS. USE THIS CLASS INSTEAD OF VUESAX DEFAULT.
.reg-width-button {
    padding: 10px 12px;
}

// MINI CHECKBOX ADDITION. 
.check-mini .vs-checkbox {
    width: 1rem;
    height: 1rem;
}

.check-mini .vs-icon {
    font-size: .8rem;
}

// MOD FOR SMALL SIZE BUTTON - MEANT FOR MINI-SIZED NUMBERED CIRCLES
.mini-number-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .5rem;
    height: .5rem;
    margin: 0 1rem 0 0;
    padding: 10px !important;
}


// PROGRESS BAR BACKGROUND TO TRANSPARENT
.vs-progress-primary {
    background: #fff0 !important;
}


// GOOGLE SIGN-IN BUTTON AS VUESAX BUTTON
.google-signin-btn {
    color: material-color('blue-grey', '600');
}
  
.google-signin-btn .google-logo {
    width: calc(1rem + 6px);
    height: calc(1rem + 6px);
    margin: 0 .666rem 0 0;
    background-image: $google-logo;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 3px solid transparent;
}
  
.google-signin-btn.isActive .google-logo {
    background-color: $white;
    border: 3px solid $white;
}

.google-signin-btn .vs-button-text {
    display: flex !important;
    align-items: center;
    width: max-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

